<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="bIgzhiYzJX-z_6EqT39MpkW7wN8J7zbpD_8puZbvKeM" />
    <link rel="icon" href="image/header_logo.png" />


    <title>Flutur - New Tab</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/onebagjpomhjadhoiianmnelkbcnllnf">
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/chromeExtension.js"></script>


    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" />

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css-min/new-age.min.css">
    <link rel="stylesheet" href="/css-min/styles.min.css">
    <link rel="stylesheet" href="/css-min/dropdown.min.css">
    <link rel="stylesheet" href="/css-min/slider.min.css">
    <link rel="stylesheet" href="/css-min/mobile-view.min.css">
    <link rel="stylesheet" href="/css/blog.css">

    <meta name="description" content="At Flutur, we convert your otherwise wasted hours into real donations through the Flutur effect. Try out the Flutur New Tab Chrome Extention">

    <style>
        .blog-img {
            width: 100%;
            height: 250px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
        }
        
        .more-pink-title {
            color: #EF2A67;
            font-family: Quicksand;
            font-size: 14px;
            font-weight: bold;
            line-height: 18px;
        }
        
        .nav>li>a:focus,
        .nav>li>a:hover {
            text-decoration: none;
            background-color: transparent;
        }
        
        a:hover {
            text-decoration: none;
            color: #ddd;
        }
        
        .nav>li>a {
            padding: 10px 15px;
        }
        
        .btn-med {
            font-family: Quicksand;
            border-radius: 300px;
            padding: 8px 18px;
            font-size: 12px;
        }
        
        h1,
        h2,
        h3 {
            letter-spacing: 0px;
        }
        
        @media all and (max-width: 699px) {
            .category-container {
                display: none;
            }
            .category-container-small {
                display: block;
                width: 100%;
                margin: 40px 0px 10px 0px;
            }
            .blogs-link {
                padding: 30px 30px 60px 30px;
            }
        }
        
        @media screen and (min-width: 700px) {
            .blogs-link {
                padding: 50px 50px 70px 50px;
            }
            .category-container {
                margin: 40px 0px 10px 0px;
                width: 100%;
                height: 80px;
            }
            .category-container-small {
                display: none;
            }
        }
    </style>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar" style="z-index:10; margin-top:10px;margin-bottom:-100px;">
        <div class="container" style="width:95%">
            <div class="navbar-header">

                <a class="navbar-brand page-scroll" href="/">
                    <img src="/image/flutur_logo_white.png">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 15px;padding-right: 15px;">
                <ul class="nav navbar-nav navbar-right">
                    <li class="li-no-padding" style="margin-right:40px">
                        <a class="white" target="_top" href="/blog">
                            <b class="quick-weight-bold"> BLOG</b>
                        </a>
                    </li>
                    <li class="li-no-padding" style="margin-right:40px">
                        <a class="white" target="_top" href="/faqs">
                            <b class="quick-weight-bold"> FAQs</b>
                        </a>
                    </li>
                    <li class="li-no-padding" style="margin-right:40px">
                        <a class="white" target="_top" href="/privacy">
                            <b class="quick-weight-bold"> PRIVACY</b>
                        </a>
                    </li>
                    <li>
                        <div class="btn-outline btn-med" style="font-size:12px; cursor:pointer">
                            <!-- <i class="fa fa-venus-mars" aria-hidden="true"></i> -->
                            <a class="white" target="_top" href="https://chrome.google.com/webstore/detail/flutur-small-flutters-cau/onebagjpomhjadhoiianmnelkbcnllnf" style="padding: 20px; text-decoration:none!important; height:100%; width:100%">
                                <b> CHROME PLUGIN</b>
                                <i class="fa fa-angle-right" style="font-size:15px; margin-left:5px" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <%- include mobile_home_partial.ejs %>
    </div>
    <div>
        <%- include desktop_home_partial.ejs %>
    </div>

    <section class="bg-lightgrey blogs-link">

        <div class="category-container">
            <div class="title-container" style="width:50%; float:left">
                <h1 class="black-quicksand-title">
                    <% if (typeof category != 'undefined') { %>
                        <%- category.category_name %>
                            <% } else {%>
                                Flutur Blogs &amp; Stories
                                <% } %>
                </h1>
            </div>
        </div>

        <div class="category-container-small">
            <h1 class="black-quicksand-title" style="text-align: center">
                <% if (typeof category != 'undefined') { %>
                    <%- category.category_name %>
                        <% } else {%>
                            Flutur Blogs &amp; Stories
                            <% } %>
            </h1>
        </div>

        <div class="grid-row" style="margin-bottom:20px;">
            <% for(var i=0; i<blogs.length; i++) { %>
                <div class="grid-column">
                    <a href="/blog/<%-blogs[i].blog_id%>">
                            <div class="blog-img" style="background-image:url('<%-blogs[i].title_photo_url%>');">
                            </div>
                            <div style="height:95px">
                            <h2 class="blog-outside-title black">
                                <%- blogs[i].blog_title%>
                            </h2>
                            <h3 class="blog-short-desc">
                                <%- blogs[i].blog_short_desc%>
                            </h3>
                        </div>
                        </a>
                </div>
                <% } %>
        </div>
        <a href="/blog" class="more-pink-title" style="float:right;">
                View All <i class="fa fa-angle-right" style="font-size:15px; margin-left:5px" aria-hidden="true"></i>
            </a>

    </section>

    <section class="benefitting-ngos bg-white">
        <div class="black-quicksand-big-title" style="margin-bottom: 40px">Benefitting NGOs</div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <% for(var i=0; i<4; i++) { %>
                        <div class="col-md-2 ngo-icon">
                            <img style="height:80px;padding:10px" src="<%- ngos[i].logo_url %>">
                        </div>
                        <% } %>
                            <div class="col-md-2">
                            </div>
                </div>

                <div class="row ngo-container">
                    <div class="col-md-2">
                    </div>
                    <% for(var i=4; i<ngos.length; i++) { %>
                        <div class="col-md-2 ngo-icon">
                            <img value="<%- ngos[i].ngo_name %>" style="height:80px;padding:10px" src="<%- ngos[i].logo_url %>">
                        </div>
                        <% } %>
                            <div class="col-md-2">
                            </div>
                </div>
                <div class="row">
                    <%- include contact_partial.ejs %>
                </div>
            </div>
        </div>
    </section>

    <div class="resp-footer">
        <%- include footer_partial.ejs %>
    </div>
    <div class="small-resp-footer">
        <%- include footer_small_partial.ejs %>
    </div>
</body>
<script src="https://rawgit.com/andreruffert/rangeslider.js/develop/dist/rangeslider.min.js"></script>
<script src="js/impact_grid.js"></script>
<script src="js/drop.js"></script>
<script src="js/slider.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".main-home-title").css("visibility", "visible").hide().fadeIn(800);
        $(".rangeslider-wrap").css("visibility", "visible").hide().fadeIn(800);

        if (window.matchMedia('(min-width: 700px)').matches) {
            $(".trans-box").fadeIn(500);
        } else {
            $(".small-trans-box").fadeIn(500);
        }

        changeImpactGrid();
    });

    $("#desktop-footer-motivation").find("a").click(function(e) {
        e.preventDefault();
        var section = $(this).attr("href");
        $("html, body").animate({
            scrollTop: $(section).offset().top
        });
    });
    $("#small-footer-motivation").find("a").click(function(e) {
        e.preventDefault();
        var section = $(this).attr("href");
        $("html, body").animate({
            scrollTop: $(section).offset().top
        });
    });


    function submitEmail($val) {
        if ($val.val() == null || $val.val() == undefined || $val.val() == "")
            return;

        $.ajax({
            type: "GET",
            url: "/home/submit-email?email_id=" + $val.val(),
            success: function(result) {
                $(".email-input").css("display", "none");
                $(".email-submit").css("display", "block");
            },
            error: function(result) {}
        });
    }

    $('.email-label').click(function() {
        submitEmail($(".desktop-name"));
    });
    $('.small-email-label').click(function() {
        submitEmail($(".small-name"));
    });
</script>

</html>