<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="bIgzhiYzJX-z_6EqT39MpkW7wN8J7zbpD_8puZbvKeM" />
    <link rel="icon" href="image/header_logo.png" />


    <title>Flutur</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/onebagjpomhjadhoiianmnelkbcnllnf">
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/chromeExtension.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/new-age.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/slider.css">
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar" style="z-index:10; margin-top:10px;margin-bottom:-100px;">
        <div class="container" style="width:95%">
            <div class="navbar-header">

                <a class="navbar-brand page-scroll" href="/">
                    <img src="/image/flutur_logo_white.png">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 15px;padding-right: 15px;">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <div class="btn-outline btn-med" style="font-size:12px; cursor:pointer">
                            <!-- <i class="fa fa-venus-mars" aria-hidden="true"></i> -->
                            <a class="white" target="_top" href="https://chrome.google.com/webstore/detail/flutur-small-flutters-cau/onebagjpomhjadhoiianmnelkbcnllnf" style="padding: 20px; text-decoration:none!important; height:100%; width:100%">
                                <b class="quick-weight-bold"> CHROME PLUGIN</b>
                                <i class="fa fa-angle-right" style="font-size:15px; margin-left:5px" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header style="padding: 80px 50px 0px 50px">
        <div class="row">
            <div class="col-sm-6">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="main-home-title thick-text white" style="letter-spacing:-1px; font-size:48px;line-height: 50px;">How long are you active online everyday?</div>
                        <div class="rangeslider-wrap">
                            <input type="range" min="0" max="16" step="0.5" labels="0, 16" value="1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="header-content white" style="padding: 0 50px;width:100%">
                    <div class="header-content-inner" style="width:100%">
                        <div class="trans-box" style="display:none;padding:55px 50px 0px 50px; width: 90%; height:55%">
                            <div style="display:table">
                                <div id="impact-val" class="thick-text" style="padding-right:5px; font-size:40px; vertical-align:middle; width:100px;text-align:left;display:table-cell">3.12</div>
                                <select id="year" style="display:table-cell;padding:15px">
                                    <option value="tree">TREES</option>
                                    <option value="food">CHILDREN FED</option>
                                    <option value="book">DAYS OF SCHOOL</option>
                                </select>
                            </div>

                            <div id="impact-stmt" class="thin-text font-smaller" style="width:420px; height:50px; margin:10px 0 0 5px;">Planted &amp; watered by you in 1 year by doing almost nothing!</div>
                            <div style="margin: 10px 0px 50px 0">
                                <%- include grid.ejs %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-motivation" class="row" style="padding: 40px 0px; width:100%; margin-top:-50px;">
            <a href="#about" style="text-decoration:none">
                <div style="text-align:center" class="thin-text white">The world needs more superheroes! <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </header>

    <section id="about" class="bg-white" style="padding: 170px 0;">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">

                <div class="pink-quicksand-title" style="margin-top:40px;">The flutur effect</div>
                <div class="black-quicksand-title" style="margin:15px 0px; font-size:50px; line-height:50px">Tiny acts can have large effects</div>
                <div class="thin-text black font-small">At Flutur, we are building products which convert your otherwise wasted hours into real donations. As a result, you can change the world right from your workplace!
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <img src="/image/child.png" style="width:60%;filter: alpha(opacity=90);"></img>
            </div>
        </div>
    </section>

    <section id="proj" class="bg-lightgrey" style="padding: 100px 0;">
        <div class="row">
            <div class="col-sm-5">
                <div class="gradient-box row" style="padding: 15px">
                    <div class="white" style="visibility:hidden;float:left;width:5%;padding-left:15px">XX</div>
                    <div class="white" style="float:left;width:75%;">PROJECT ONE</div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-6"></div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <img src="/image/laptop_ext.png" class="img-responsive" alt=""></div>
            <div class="col-sm-5">
                <div class="black-quicksand-title" style="margin:100px 0 20px 0; font-size:50px; line-height:50px">Tabs For Infinite Change</div>
                <div class="thin-text black font-small" style="margin:20px 0 20px 0;">The <b>Tabs For Infinite Change </b> Chrome extension replaces your new tab page with a beautiful one designed by us. Every new tab you open while surfing the web raises funds for the cause of your choice.</div>
                <!-- <a target="_top" href="https://chrome.google.com/webstore/detail/flutur-small-flutters-cau/onebagjpomhjadhoiianmnelkbcnllnf" style="text-decoration:none"> -->
                <div onclick="installChromeApp()" style="cursor:pointer; margin-top:10px; padding:25px 30px 40px 30px" class="white-button">
                    <img src="/image/get_started_text.png" style="float:left;height:15px" />
                    <img src="/image/gradient_arrow.png" style="float:right;height:15px" />
                </div>
                <!-- </a> -->
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2" style="padding-right:10px">
                <a href=" /faqs" style="text-decoration:none; margin-top:300px">
                    <div class="know-how">Know how?</div>
                    <div style="box-sizing: border-box; width: 87px; border: 1px solid #000000;"></div>
                </a>
            </div>
        </div>

    </section>

    <section id="pledge" class="bg-white" style="padding: 165px 0;">
        <div class="row">

            <div class="col-sm-1"></div>

            <div class="col-sm-6">

                <div class="black-quicksand-title" style="font-size:50px; line-height:50px">We’re starting a revolution &amp; we need your support!</div>
                <div class="thin-text black font-small" style="margin:20px 0 20px 0;">Share your email to know more about us</div>

                <div style="margin-top:30px;" id="email-input">
                    <span>
                          <input class="basic-slide" id="name" type="email" placeholder="Eg. saving.the.world@gmail.com" />
                               <label for="name"  style="cursor:pointer"> Tell Me More
                                    <i class="fa fa-angle-right" aria-hidden="true" style="margin: 0 10px"></i>
                               </label>
                    </span>
                </div>

                <div style="margin-top:30px;display:none" class="email-submit" id="email-submit">
                    Awesome! We will send you an email shortly :)

                </div>
            </div>

            <div class="col-sm-4" style="text-align:right">
                <img src="/image/logo.gif" style="height:auto; width:70%" />
            </div>

            <div class="col-sm-1"></div>

        </div>
    </section>

    <section style="text-align:center; padding:100px 0;" class="bg-lightgrey">
        <div class="black-quicksand-title" style="margin-bottom: 40px">Benefitting NGOs</div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <% for(var i=0; i<4; i++) { %>
                        <div class="col-md-2 ngo-icon">
                            <img style="height:80px;padding:10px" src="<%- ngos[i].logo_url %>">
                        </div>
                        <% } %>
                            <div class="col-md-2">
                            </div>
                </div>

                <div class="row" style="margin-top:40px">
                    <div class="col-md-2">
                    </div>
                    <% for(var i=4; i<ngos.length; i++) { %>
                        <div class="col-md-2 ngo-icon">
                            <img value="<%- ngos[i].ngo_name %>" style="height:80px;padding:10px" src="<%- ngos[i].logo_url %>">
                        </div>
                        <% } %>
                            <div class="col-md-2">
                            </div>
                </div>
                <div class="row">
                    <%- include contact_partial.ejs %>
                </div>
            </div>
        </div>
    </section>

    <div class="resp-footer">
        <%- include footer_partial.ejs %>
    </div>
</body>
<script src="https://rawgit.com/andreruffert/rangeslider.js/develop/dist/rangeslider.min.js"></script>
<script src="js/impact_grid.js"></script>
<script src="js/drop.js"></script>
<script src="js/slider.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".trans-box").fadeIn(500);
        // $(".main-home-title").fadeIn(500);
    });

    $("#footer-motivation").find("a").click(function(e) {
        e.preventDefault();
        var section = $(this).attr("href");
        $("html, body").animate({
            scrollTop: $(section).offset().top
        });
    });


    $(document).ready(function() {
        changeImpactGrid();
    });

    $('label').click(function() {
        if ($("#name").val() == null || $("#name").val() == undefined || $("#name").val() == "")
            return;

        $.ajax({
            type: "GET",
            url: "/home/submit-email?email_id=" + document.getElementById("name").value,
            success: function(result) {
                $("#email-input").css("display", "none");
                $("#email-submit").css("display", "block");
            },
            error: function(result) {}
        });
    });
</script>

</html>