<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="bIgzhiYzJX-z_6EqT39MpkW7wN8J7zbpD_8puZbvKeM" />
    <link rel="icon" href="image/header_logo.png" />


    <title>Flutur</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/onebagjpomhjadhoiianmnelkbcnllnf">
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/chromeExtension.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/new-age.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="/css/mobile-view.css">
</head>

<body id="page-top">

    <script type="text/javascript">
        var clicky_site_ids = clicky_site_ids || [];
        clicky_site_ids.push(101088359);
        (function() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//static.getclicky.com/js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
        })();
    </script> <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101088359ns.gif" />
            </p></noscript>

    <nav id="mainNav" class="navbar" style="z-index:10; margin-top:10px;margin-bottom:-100px;">
        <div class="container" style="width:95%">
            <div class="navbar-header">

                <a class="navbar-brand page-scroll" href="/">
                    <img src="/image/flutur_logo_white.png">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 15px;padding-right: 15px;">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <div class="btn-outline btn-med" style="font-size:12px; cursor:pointer">
                            <!-- <i class="fa fa-venus-mars" aria-hidden="true"></i> -->
                            <a class="white" target="_top" href="https://chrome.google.com/webstore/detail/flutur-small-flutters-cau/onebagjpomhjadhoiianmnelkbcnllnf" style="padding: 20px; text-decoration:none!important; height:100%; width:100%">
                                <b class="quick-weight-bold"> CHROME PLUGIN</b>
                                <i class="fa fa-angle-right" style="font-size:15px; margin-left:5px" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <%- include mobile_home_partial.ejs %>
    </div>
    <div>
        <%- include desktop_home_partial.ejs %>
    </div>


    <section class="benefitting-ngos bg-lightgrey">
        <div class="black-quicksand-big-title" style="margin-bottom: 40px">Benefitting NGOs</div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <% for(var i=0; i<4; i++) { %>
                        <div class="col-md-2 ngo-icon">
                            <img style="height:80px;padding:10px" src="<%- ngos[i].logo_url %>">
                        </div>
                        <% } %>
                            <div class="col-md-2">
                            </div>
                </div>

                <div class="row ngo-container">
                    <div class="col-md-2">
                    </div>
                    <% for(var i=4; i<ngos.length; i++) { %>
                        <div class="col-md-2 ngo-icon">
                            <img value="<%- ngos[i].ngo_name %>" style="height:80px;padding:10px" src="<%- ngos[i].logo_url %>">
                        </div>
                        <% } %>
                            <div class="col-md-2">
                            </div>
                </div>
                <div class="row">
                    <%- include contact_partial.ejs %>
                </div>
            </div>
        </div>
    </section>

    <div class="resp-footer">
        <%- include footer_partial.ejs %>
    </div>
    <div class="small-resp-footer">
        <%- include footer_small_partial.ejs %>
    </div>
</body>
<script src="https://rawgit.com/andreruffert/rangeslider.js/develop/dist/rangeslider.min.js"></script>
<script src="js/impact_grid.js"></script>
<script src="js/drop.js"></script>
<script src="js/slider.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".main-home-title").css("visibility", "visible").hide().fadeIn(800);
        $(".rangeslider-wrap").css("visibility", "visible").hide().fadeIn(800);

        if (window.matchMedia('(min-width: 700px)').matches) {
            $(".trans-box").fadeIn(500);
        } else {
            $(".small-trans-box").fadeIn(500);
        }

        changeImpactGrid();
    });

    $("#footer-motivation").find("a").click(function(e) {
        e.preventDefault();
        var section = $(this).attr("href");
        $("html, body").animate({
            scrollTop: $(section).offset().top
        });
    });


    $('label').click(function() {
        if ($("#name").val() == null || $("#name").val() == undefined || $("#name").val() == "")
            return;

        $.ajax({
            type: "GET",
            url: "/home/submit-email?email_id=" + document.getElementById("name").value,
            success: function(result) {
                $("#email-input").css("display", "none");
                $("#email-submit").css("display", "block");
            },
            error: function(result) {}
        });
    });
</script>



</html>