<div class="small-content-box">
    <section id="mission-small" class="bg-white">
        <img src="<%- featuredProject.fullFeaturePhoto %>" style="width:100vw;">
        <div class="tab-project-container-small">
            <img alt="Flutur Chrome Extension" src="<%-featuredProject.showcasePhoto%>" class="mission-photo-small" style="margin:0 auto" />
            <div class=" tab-project-details-container">
                <div class="thin-text black font-xsmall uc" style="line-height:1.5; letter-spacing: 0.5px;">Open new tabs to</div>
                <div class="poppins-thick uc" id="featured-title-small" style="margin-top:10px;font-size: 34px; line-height:30px;">
                    <%- featuredProject.featureActionTitle %>
                </div>

                <div id="featured-rect-small" class="featured-white-small" style="margin: 20px auto;width:70%;height:40px">
                    <img id="featured-star-small" style="float:left;height:20px; margin-left:10px;margin-top:7px;" />
                    <div class="poppins-thick xs-text uc" style="float:left;height:20px; margin-left:10px;margin-top:8px;">Featured Mission</div>
                </div>
            </div>
        </div>
        <div class="tab-project-details-container">
            <div class="thin-text black" style="margin-top: -20px;font-size:11px;line-height:1.8; letter-spacing: 0.5px;">
                <%- featuredProject.homeDescription %>
            </div>
            <div class="thick-text black font-xsmall" style="line-height:1.5; letter-spacing: 0.5px; margin-top:10px">Read more</div>
        </div>
</div>
</section>

<section id="secondary-missions-small" class=" bg-lightgrey">
    <div class="thick-text black uc" style="font-size:11px;letter-spacing: 3.5px">We also support - </div>
    <% for(var i=0; i<projects.length; i++) { %>
        <a href='projects/<%- projects[i].projectId %>' style="color:inherit;text-decoration: none!">
            <div class="small-proj">
                <div class="small-text uc poppins-thick" style="margin-top:40px;line-height:1.1; letter-spacing: 0.5px;font-size:23px">
                    <%- projects[i].projectTitle%>
                </div>
                <img src="<%- projects[i].showcasePhoto%>" class="mb-2" style="margin-top:5px;height:125px; width:125px; " />
                <div class="thin-text black" style="font-size:11px;line-height:1.5; letter-spacing: 0.5px;">
                    <%- projects[i].shortDescription%>
                </div>
                <div id="feature-read-more" class="black c-p font-700 uc" style="font-size:12px; margin: 10px 0px 40px 0;line-height:1.5; letter-spacing: 0.5px;">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></div>

            </div>
        </a>
        <% } %>
</section>

<section id="small-about" class="about-container bg-white" style="padding:30px 50px;">
    <div class="flutur-effect-container">
        <h1 class="pink-quicksand-title">The flutur effect</h1>
        <h1 class="black-page-title" style="margin:15px 0px;">Tiny acts can have large effects</h1>
        <h3 class="thin-text black font-xsmall" style="line-height:1.5; letter-spacing: 0.5px">At Flutur, we are building products which convert your otherwise wasted hours into real donations. As a result, you can change the world right from your workplace!
        </h3>
    </div>
    <div class="amita-img-container">
        <img alt="Flutur Child" src="/image/flutur_pratiksha.png" style="width:60%;filter: alpha(opacity=90);" />
    </div>
</section>
</div>