<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Be EPIC Everyday</title>
    <link rel="icon" href="image/logo_pink.png" />

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/new-age.css" rel="stylesheet">
    <link href="/css/jquery-ui.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="display:none;">
    <header>
        <!-- background image -->
        <!-- <div class="background" style="background-image: url(&quot;https://source.unsplash.com/collection/1172264/1600x900/daily&quot;);"></div> -->

        <div class="dark-gradient-ad" style="display:none">
            <div class="large-dialog-overlay">
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        <div class="btn-outline btn-med" style="text-align:center; cursor:pointer">
                            <a href="" style=" text-decoration:none!important; color:white;" onclick="dummy(0);return false;">
                                <b>CONTINUE TO CHANGE THE WORLD</b>
                            </a>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7">
                        <div>
                            <div style="display: table; height: 100px; width:100%; margin: 50px 0px 10px 0px">
                                <img src=" /image/exclamation.png" style="float:left; vertical-align:middle; height:95%; width:auto; display:table-cell; padding: 10px">
                                <div style="vertical-align:middle; display:table-cell; float:left" class="white-title">
                                    <b>OH NO!</b><br> Adblock Detected!
                                </div>
                            </div>
                            <div class="white font-smaller quicksand" style="width:70%; margin-bottom:10px">
                                Turn off your ad blocker for this page, by doing this, you donate to change the world without having to spend a single rupee!
                            </div>
                            <a href="/faqs" style="text-decoration:none;">
                                <div class="know-how" style="color:white">Know why?</div>
                                <div style="box-sizing: border-box; width: 87px; border: 1px solid #fff;"></div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div style="text-align:center">
                            <img style="width:90%; height:auto; margin-top:5%" src=" /image/sad_earth.png"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <div style="float:left;">
                            <div class="display-number-title">Donations So Far</div>
                            <div class="display-number">
                                <%- stats.donations %>

                            </div>
                        </div>

                        <div style="float:left; margin-left:50px">
                            <div class="display-number-title">EPIC People</div>
                            <div class="display-number">
                                <%- stats.followers %>

                            </div>
                        </div>

                        <div style="float:right">
                            <div style="float:right">
                                <a href="http://www.facebook.com">
                                    <img class="quicklink-img" src="/image/facebook-icon.svg"></img>
                                    </small>
                                </a>
                                <a href="http://www.facebook.com">
                                    <img class="quicklink-img" src="/image/facebook-icon.svg"></img>
                                    </small>
                                </a>
                                <a href="http://www.facebook.com">
                                    <img class="quicklink-img" src="/image/facebook-icon.svg"></img>
                                    </small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>

        <div class="page-container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/home">
                            <img src="/image/logo.png">
                        </a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="http://www.facebook.com">
                                <small></small><img class="quicklink-img" src="/image/facebook-icon.svg"></img>
                                </small>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.gmail.com">
                                <small></small><img class="quicklink-img" src="/image/gmail-icon.svg"></img>
                                </small>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.youtube.com">
                                <small></small><img class="quicklink-img" src="/image/youtube-icon.svg"></img>
                                </small>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.drive.google.com">
                                <small></small><img class="quicklink-img" src="/image/drive-icon.svg"></img>
                                </small>
                            </a>
                        </li>
                        <!-- <li>
                        <a href="top-apps">
                            <small></small><img class="quicklink-img" src="/image/all-apps.png"></img>
                            </small>
                        </a>
                    </li> -->
                    </ul>
                </div>
            </nav>

            <div class="widgets show-widgets">
                <div id="middle">
                    <div class="thin-greeting" class="transition">
                        <strong></strong>Hello,</strong>
                        <%- user.name %>
                    </div>
                    <div class="clock">
                        <div id="clockbox"></div>
                        <div id="clockbox-pm"></div>
                    </div>

                    <br>
                </div>

                <div id="middle-below">
                    <input id="autocomplete" title="type &quot;a&quot;" placeholder="Search Google">
                </div>
            </div>

            <div class="right-bar">
                <% if (user.state === 'donate_pending') { %>
                    <div style="text-align: center; padding: 10%">
                        <div class="thick-text white big-text">WEEKLY MISSION</div>
                        <div class="thick-text green big-text">COMPLETE!</div>
                        <img class="env-icon" src="<%- cause.img_url %>"></a>
                        <div class="thick-text center-element white big-text">
                            <i class="fa fa-heart fa-red" aria-hidden="true"></i>
                            <%- user.hearts.current_week_hearts %>
                        </div>
                        <div class="thin-text white">Hearts collected!</div>

                        <div id="donate-now" class="small-pink-button" style="margin-top: 8%">
                            <div class="thick-text white center-text" style="font-size:12px">DONATE NOW</div>
                        </div>

                        <div class="thin-text white" style="margin-top: 8%">Benefiting NGOs</div>

                        <ul class="hor-list">
                            <% for(var i=0; i<cause.ngoList.length; i++) { %>
                                <li>
                                    <img style="height:20%; width:20%" src="<%- cause.ngoList[i].logo_url %>">
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <% } else if (user.state === 'cause_selection_pending') { %>
                        <div style="text-align: center; padding: 10%">
                            <div class="thick-text center-element white big-text">
                                <i class="fa fa-heart fa-red" aria-hidden="true"></i>
                                <%- user.previous_donation.previous_week_hearts %>
                            </div>
                            <div class="thick-text big-text white">Hearts Donated!</div>
                            <img class="env-icon" src="<%- previousCause.img_url %>"></a>

                            <ul class="hor-list">
                                <% for(var i=0; i<previousCause.ngoList.length; i++) { %>
                                    <li>
                                        <img style="height:20%; width:20%" src="<%- previousCause.ngoList[i].logo_url %>">
                                    </li>
                                    <% } %>
                            </ul>

                            <a href="/new-tab/choose-mission">
                                <div id="choose-mission" class="small-pink-button" style="margin-top: 8%">
                                    <div class="thick-text white center-text" style="font-size:12px">Choose your next mission</div>
                                </div>
                            </a>

                        </div>
                        <% } else {%>
                            <div class="thick-text center-element">MY MISSION THIS WEEK</div>
                            <div class="thin-text center-element">
                                <%- cause.cause_name %>!</div>
                            <div class="center-element">
                                <img class="env-icon" src="<%- cause.img_url %>"></a>
                            </div>

                            <div class="thick-text center-element" style="font-size:28px;">
                                <%- user.hearts.current_week_hearts %> <i class="fa fa-heart fa-red" aria-hidden="true"></i>
                            </div>

                            <div class="center-element" style="width:100%; display: inline-block">
                                <div id="myProgress">
                                    <div id="myBar"></div>
                                </div>
                                <div class="circle">
                                    <div class="thin-text" style="font-size:10px;margin-top:12%">
                                        <i class="fa fa-heart fa-red" aria-hidden="true"></i>
                                        <BR>
                                        <%- cause.total_hearts %>
                                    </div>
                                </div>
                            </div>

                            <div class="thick-text center-element weight-500">
                                <%- stats.remainingTime %> to go!
                            </div>

                            <div class="thin-text center-element" style="margin:20px">
                                Open new tabs to collect more hearts!
                            </div>
                            <% } %>

            </div>

            <div class="footer">

                <div id="user-profile-container" class="small-shadow">

                    <div style="width: 40%; float:left">
                        <div class="display-number-title">Donations So Far</div>
                        <div class="display-number">
                            <%- stats.donations %>
                        </div>
                    </div>

                    <div style="width: 40%; float:left">
                        <div class="display-number-title">EPIC People</div>
                        <div class="display-number">
                            <%- stats.followers %>
                        </div>
                    </div>

                    <div style="width: 20%; float:right">
                        <div style="float:right">
                            <a href="http://www.facebook.com">
                                <img class="quicklink-img" src="/image/facebook-icon.svg"></img>
                                </small>
                            </a>
                            <a href="http://www.facebook.com">
                                <img class="quicklink-img" src="/image/facebook-icon.svg"></img>
                                </small>
                            </a>
                            <a href="http://www.facebook.com">
                                <img class="quicklink-img" src="/image/facebook-icon.svg"></img>
                                </small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
</body>
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/clock.js"></script>
<script src="js/searchbar.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("body").fadeIn(500);

        if (document.getElementById("myBar") != null && document.getElementById("myBar").style != null) {
            document.getElementById("myBar").style.width = <%= user.progress %> + "%";
        }

        if (document.getElementById("donate-now") != null && document.getElementById("donate-now").style != null) {
            document.getElementById('donate-now').onclick = function() {
                $.get('/donate', {}, function(data) {
                    window.location.reload(true);
                });
            };
        }
    });
</script>

<script type="text/javascript">
    var adblock = true;
</script>
<script type="text/javascript" src="js/adframe.js"></script>
<script type="text/javascript">
    if (adblock) {
        $(".dark-gradient-ad").show();
    } else {
        $(".dark-gradient-ad").hide();
    }
</script>

</html>