<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="bIgzhiYzJX-z_6EqT39MpkW7wN8J7zbpD_8puZbvKeM" />
    <link rel="icon" href="/image/header_logo.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <link href="//fonts.googleapis.com/css?family=Poppins:100,200,300,500,700" rel="stylesheet" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/onebagjpomhjadhoiianmnelkbcnllnf">

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/new-age.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile-view.css">
    <link rel="stylesheet" href="/css/blog.css">

    <title>
        Flutur - Tarun Bharat Sangh
    </title>

    <meta name="author" content="Mallika Priya Khullar" />
    <meta name="description" content="Flutur supports Tarun Bharat Sangh's Johads in Rajasthan!" />
    <meta property="og:title" content="Flutur Stands With Tarun Bharat Sangh" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.flutur.org/projects/project-tbs" />
    <meta property="og:image" content="/image/white_facebook_icon.png" />
    <meta property="og:description" content="Flutur supports Tarun Bharat Sangh's Johads in Rajasthan!" />
    <meta property="fb:app_id" content="197971190828325" />
    <meta name="twitter:title" content="Flutur Stands With Tarun Bharat Sangh" />
    <meta name="twitter:description" content="Flutur supports Tarun Bharat Sangh's Johads in Rajasthan!" />
    <meta name="twitter:url" content="http://www.flutur.org/projects/project-tbs" />
    <meta name="twitter:image" content="/image/white_facebook_icon.png" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

    <style>
        .support-this-cause {
            color: #3C3C3C;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 300;
            line-height: 46px;
        }
        
        .cover-image {
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("http://res.cloudinary.com/epicfoundation/image/upload/v1524495201/projects/q.png");
        }
        
        .start-button {
            border: 1px solid #FFFFFF;
            border-radius: 2px;
            text-align: left;
            cursor: pointer;
            font-weight: 700;
            font-family: Poppins;
            transition: .2s;
            padding: 15px 10px;
        }
        
        .start-button:hover {
            background: rgba(255, 255, 255, .05);
            transform: scale(1.02);
        }
        
        .big-action-title {
            font-size: 3em;
            padding: 0;
            margin: 10px 0px;
            text-align: left;
            line-height: 45px;
            font-weight: bold;
            font-family: Poppins;
        }
        
        .open-new-tabs-to {
            text-transform: uppercase;
            color: #FFFFFF;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 100;
            line-height: 21px;
        }
        
        .uc {
            text-transform: uppercase;
        }
        
        .mint {
            color: #23D2AF;
        }
        
        .blue-27 {
            padding: 100px 0px;
            width: 100vw;
            color: white;
            text-align: center;
            background-color: #f9f9f9;
        }
        
        @media all and (max-width: 699px) {
            .blue-27 {
                display: none;
            }
        }
        
        .para-text {
            font-weight: 200;
            font-size: 15px;
        }
        
        .black-quicksand-title,
        .para-text,
        body {
            font-family: Poppins;
        }
        
        .footer-desc {
            display: none
        }
        
        .footer-icons {
            font-size: 20px;
        }
        
        .side-margin-5 {
            margin: 0 15px;
        }
        
        @media all and (max-width: 699px) {
            .footer-icons {
                font-size: 20px;
            }
            .side-margin-5 {
                margin: 0 15px;
            }
            .amazon-blog {
                display: none;
            }
            .black-share {
                display: none;
            }
            .squish {
                padding: 30px 30px;
            }
            .blog-outside-title {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                font-size: 18px;
                font-weight: bold;
                line-height: 21px;
                margin: 10px 0px;
            }
            .blog-short-desc {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                color: #4C4C4C;
                font-size: 14px;
                line-height: 18px;
                margin: 10px 0px;
                height: 36px;
            }
            .recent-title {
                margin: 80px 0px 10px 0px;
            }
            .navbar-brand>img {
                height: 90%;
                padding: 10px 0 0 15px;
                width: auto;
            }
            .small-roboto-thick {
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
            }
            .small-roboto-thin {
                font-size: 10px;
                line-height: 14px;
            }
            .small-user-partial {
                float: left;
                width: 60%;
            }
            .user-container-small {
                display: block;
            }
            .user-container {
                display: none;
            }
            #blog-header {
                display: none;
            }
            #blog-header-small {
                display: block;
                padding: 16px 0px;
                overflow: auto;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 5px;
            }
            .circ-img {
                height: 45px;
                width: 45px;
            }
            .facebook-btn {
                float: right;
                font-size: 12px;
                cursor: pointer;
                margin-top: 6px;
            }
            .small-donate-partial {
                display: none;
            }
            .blog-detail-container {
                width: 90%;
                margin: 0 auto;
                padding: 30px 0px 10px 0px;
            }
            div.center-cropped {
                width: 100%;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .black-quicksand-title {
                font-size: 28px;
                font-weight: bold;
                line-height: 30px;
            }
            .para-text {
                color: #000000;
                font-size: 15px;
                line-height: 31px;
                margin: 10px 0px;
            }
            .para-image {
                width: 80%;
            }
            .image-caption {
                color: #A9A9A9;
                ;
                font-size: 9px;
                font-style: italic;
                line-height: 10px;
                padding: 10px 0px;
            }
            .para-title {
                ;
                font-size: 22px;
                font-weight: bold;
                line-height: 25px;
                margin: 20px 0px;
            }
            .para {
                margin: 20px 0px;
            }
        }
        
        @media screen and (min-width: 700px) {
            .recent-title {
                margin: 110px 0px 10px 0px;
            }
            .squish {
                padding: 60px 90px 0px 90px;
            }
            .para-text {
                color: #000000;
                font-size: 15px;
                line-height: 35px;
                margin: 10px 0px;
            }
            .user-container {
                display: block;
            }
            .user-container-small {
                display: none;
            }
            #blog-header {
                display: block;
            }
            #blog-header-small {
                display: none;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 10px;
            }
            .circ-img {
                height: 60px;
                width: 60px;
            }
            .facebook-btn {
                float: right;
                width: 300px;
                font-size: 12px;
                cursor: pointer;
            }
            .small-user-partial {
                float: left;
                width: 40%;
            }
            .small-donate-partial {
                float: right;
                width: 60%;
            }
            div.center-cropped {
                width: 100%;
                height: 500px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .para {
                margin: 50px 0px;
            }
            .para-title {
                font-size: 30px;
                font-weight: bold;
                line-height: 35px;
                margin: 20px 0px;
            }
            .blog-detail-container {
                width: 80%;
                margin: 0 auto;
                padding: 50px 0px 10px 0px;
            }
            .para-image {
                width: 50%;
            }
            .image-caption {
                color: #A9A9A9;
                ;
                font-size: 12px;
                font-style: italic;
                line-height: 14px;
                padding: 10px 0px;
            }
        }
        
        .very-thin-roboto {
            color: #4C4C4C;
            ;
            font-size: 12px;
            font-style: italic;
            font-weight: 300;
            line-height: 19px;
            width: 350px;
        }
        
        .btn-outline:hover,
        .btn-outline:focus,
        .btn-outline:active,
        .btn-outline.active {
            background-color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 1);
        }
        
        .blog-outside-title {
            margin: 10px 0px 5px 0px;
        }
        
        .blog-short-desc {
            margin: 0px 0px 15px 0px;
        }
        
        h1,
        h2,
        h3 {
            letter-spacing: 0px;
        }
        
        .center-align {
            text-align: center;
        }
        
        .uc {
            text-transform: uppercase;
        }
        
        .mint {
            color: #23D2AF;
        }
        
        .end-to-end {
            width: 100%;
            cursor: pointer;
            background: black;
            z-index: 999;
            padding: 30px 0;
            color: white;
            transition: .2s;
        }
        
        .end-to-end:hover {
            transform: scale(1.05)
        }
        
        .congrats-title {
            font-family: Poppins;
            font-size: 25px;
            font-weight: 700;
        }
        
        .top-bottom-margin {
            margin: 50px;
        }
        
        .small-margin-top {
            margin-top: 10px;
        }
        
        .big-margin-top {
            margin-top: 60px;
        }
        
        .small-margin-bottom {
            margin-bottom: 10px;
        }
        
        .footer-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 20px;
        }
        
        .footer-desc {
            display: none
        }
        
        .quick-weight-bold-small,
        .display-number-title,
        .display-number,
        .btn-med,
        .quicksand,
        footer ul li a,
        .quick-weight-bold {
            font-family: Poppins;
        }
        
        .black-quicksand-title {
            line-height: 60px;
            padding: 0 15px;
        }
        
        .para-text {
            font-weight: 300;
            font-size: 18px;
        }
        
        .para-rect {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 30px;
            margin: 30px 0px;
            text-align: center;
            font-weight: 300;
            font-style: oblique;
            font-size: 15px;
            color: #777;
            line-height: 35px;
            /* background: #f0f0f0 */
        }
        
        @media all and (max-width: 699px) {
            .para-rect {
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                padding: 10px;
                margin: 10px 0px;
                text-align: center;
                font-weight: 300;
                font-style: oblique;
                font-size: 12px;
                color: #777;
                line-height: 25px;
                /* background: #f0f0f0 */
            }
            .black-quicksand-title {
                line-height: 30px;
                font-size: 28px;
                padding: 0;
            }
            .title-img {
                transform: scale(1.3);
            }
            .para-text {
                font-weight: 300;
                font-size: 13px;
                line-height: 22px;
            }
            .end-to-end {
                display: none;
            }
        }
    </style>
    <%- include partial-head.ejs %>

</head>

<body style="display:none">
    <script>
        fbq('track', 'ViewContent');
    </script>

    <%- include standard-header.ejs %>

        <div class="end-to-end" onclick="installChromeApp()">
            <div style="width:600px; margin:0 auto; text-align:center">
                <div style="display:inline-block">
                    <img alt="flutur" src="<%- details.unitIcon%>" style="float:left;width:25px;height:25px;margin:3px 10px 0px 0px">
                    <div class="congrats-title mint uc" style="float:left">
                        <%- currUnits %>
                            <span class="white">liters of water raised so far!</span>
                    </div>
                </div>
                <div class="days-left">
                    Install Flutur New Tab to raise funds for water in rural India
                </div>
            </div>
        </div>


        <div class="blog-detail-container">

            <img class="title-img" src='http://res.cloudinary.com/epicfoundation/image/upload/v1524583501/UI%20images/PROJECT_-_IMAGES-09.png' style="margin:0 auto;display:block;width:90%">
        </div>

        <div class="squish">
            <h1 class="black-quicksand-title">
                Building rainwater harvesting structures in semi arid regions of Karauli
            </h1>

            <div style="margin:20px 0px;">
                <div class="para">
                    <div class="para-text" style="margin-top:-15px">
                        Karauli district is amongst the 100 most backward districts in India. The poorest and marginalized communities dominate the area. Karauli suffers from inadequate rainfall, degrading ground water level and less water retention capacity of the soil. Frequent
                        droughts have added to the plight of the people.<br><br>
                        <div style="text-align:center;">
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524733956/tbs1_jqq00t.jpg" style="width:70%">
                        </div>

                        <br>Agriculture and livestock rearing are the primary sources of income in this region. Due to falling groundwater levels, tube wells have practically run out of water. In addition, inadequate scientific water-management systems
                        has lead to insufficient irrigation. Thus directly hurting agricultural productivity. Such stress on the agricultural sector has complex implications; endangered food-security, persistent poverty leading to educational and health
                        backwardness and out-migration.
                        <br><br>
                        <div style="text-align:center;">
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524741311/karauli-1_copy_yfbrez.jpg" style="width:70%">
                        </div>

                        <br>Livestock rearing has become unviable due to inadequate water supply and loss of green pastures. There is severe pressure on scarce resources leading to further destruction of natural resources and the environment. <br><br>Tarun
                        Bharat Sangh, an non-profit organization lead by Dr. Rajendra Singh, works on frugal innovative solutions to provide clean water access. Tarun Bharat Sangh is building 60 johads in Karuali - one for each village.


                        <div style="text-align:center;">
                            <br>
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524733959/johad-joh2_bfujl7.jpg" style="width:70%">
                            <br><br>
                        </div>

                        A johad, is a crescent-shaped dam of earth and rocks, built to intercept rainfall runoff. A johad serves two functions. On the surface, it holds water for livestock. But like an iceberg, its most important parts are below the surface. By holding water
                        in place, it allows water to percolate down through the soil. It recharges the aquifer below, many times as far as a kilometer away. Stored underground, the water could not be lost to evaporation. In the midst of the dry season,
                        without pipes or ditches to deliver water, villagers could always count on plenty of water from their wells, and irrigated fields lush with wheat, mustard and beans.

                    </div>
                </div>
            </div>

            <div style="margin:20px 0px;">
                <div class="para">
                    <div class="para-title"> Project Impact

                    </div>
                    <br>
                    <div style="text-align:center;">
                        <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524495183/projects/17203142_1443279255703535_3643317863401725543_n_2x.png" style="width:80%">
                    </div>
                    <br>
                    <div class="para-text">
                        Project timeline: <b>April 2018 to March 2022</b><br>Johads to be built: <b>60</b><br>Villages covered: <b>30</b><br>Cost of building a johad: <b>Rs. 2.5 lakh</b> <br>Local contribution in building a johad: <b>Rs. 0.5 lakh</b>                        <br>Approx time to build a johad:<b> 1 month</b>
                        <br>Direct beneficiaries: <b>900 families</b> <br>Indirect beneficiaries: <b>6000 people</b>
                    </div>
                </div>
            </div>

            <div style="margin:20px 0px;">
                <div class="para">
                    <div class="para-title">About Tarun Bharat Sangh

                    </div>





                    <div class="para-text">
                        Tarun Bharat Sangh (TBS), based in Rajasthan, is lead by Dr. Rajendra Singh - who has honorably been christened as <b>The Water Man of India</b>. <br><br>The group follows a Gandhian philosophy of helping the poor help themselves.
                        TBS is best known for doing ecological research and land development to provide clean and fresh water to people.
                    </div><br>

                    <div style="text-align:center;">
                        <img alt="flutur" src="https://res.cloudinary.com/epicfoundation/image/upload/v1524589170/rajendra-singh-water-man_rb64fx.jpg" style="width:60%">
                    </div><br>

                    <div class="para-text">

                        Over the last three decades, Tarun Bharat Sangh has built 402 structures over an area of 500 sq km in an arid portion of Rajasthan to rejuvenate the river, increasing water supply to villages in the surrounding region through tube wells and bore wells.
                        Tarun Bharat Sangh has built rainwater harvesting structures to recharge ground water and restore ecology of 1,200 semi-arid villages in Rajasthan.
                    </div>
                </div>
            </div>

            <div style="margin:20px 0px;">
                <div class="para">
                    <div class="para-title"> The Decline of Gopalpura by 1986
                    </div>




                    <div style="text-align:center;">
                        <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524740265/monsoon_nblazz.jpg" style="width:60%">
                    </div><br>

                    <div class="para-text">
                        The four decades long deforestation in Alwar district in Rajasthan, set off a slow-motion chain reaction. The impoverishment of nature led to the impoverishment of the people. When the rains came in 1985, they washed soil down the treeless hillsides,
                        and much of that soil was deposited in johad ponds. Over time, thousands of johads were filled with silt. As silted johads channeled less water underground to recharge the aquifer, the underground water began to retreat deeper
                        below the surface. <br><br>In earlier times, villagers would have dug out the silt and rebuilt their crumbling dams. But as the government seized more and more of their common lands, they had less and less
                        incentive to protect what was left. Where farmers had once banded together to manage their resources, now they competed over the dwindling remains. <br><br>In place of johads, the villagers turned to modern technology to keep the
                        water flowing. With government aid in the 1950s, they began drilling “tube wells”– deep wells that brought up the water with diesel-powered pumps. But the new wells ensnared them in a vicious cycle. When the water table dropped,
                        they drilled even deeper; and the deeper they drilled, the more the water dropped. Eventually, the underground water dropped deeper than people could drill, wells began to go dry, and even streams and rivers were drying up.<br><br>Climate
                        change or not, monsoon seasons became shorter, from 101 days in 1973 to 55 days in 1986. The result was even less rainwater to replenish the aquifer.
                    </div>

                    <div style="margin:20px 0px;">
                        <div class="para">
                            <div class="para-title"> Restoring Life and Hope in Gopalpura
                            </div>

                            <div style="text-align:center;">
                                <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524588846/Group_3_2x_lggwmh.png" style="width:80%">
                            </div>

                            <div class="para-text">
                                Rajendra Singh, who was on a social mission to improve education in the district, shifted his focus to the water problem after being aware of the impact of water scarcity in the region’s economy. He with the help of locals dug out 15ft deep silt from
                                a johad. By the end of the monsoon season in 1986, the pond was full. And something unexpected happened. A neighborhood well, one that had long been exhausted, begun flowing again.

                                <br>
                                <br> Water was not all that began flowing. The rebirth of rainwater harvesting set loose a cascade of constructive forces, in Gopalpura and beyond.
                                <br><br>The first wave of effects swept through Gopalpura itself. By 1996, Gopalpurans had built nine johads, covering 2,381 acres and holding 162 million gallons of water. Underground water had risen from an average level
                                of 45 feet below the surface to only 22 feet, and all the wells had water.

                                <br>
                                <div style="text-align:center;">
                                    <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/c_scale,h_777/v1524738429/pict_featured_jumbo_dfwt57.jpg" style="width:60%">
                                </div>
                                <br>The ascending aquifer trickled up through the village economy. Well water was once again available just a few steps from home. Moister subsoil allowed crops to thrive with less irrigation. Because well levels were higher,
                                less fuel was needed to pump water to the surface. The expense of diesel fuel dropped 75 percent. The area of wheat fields jumped from 33 to 108 hectares, and some farmers diversified into sugarcane, potatoes and onions.
                                Many of their fields could now produce two crops, one in the rainy season and an irrigated crop in the dry season.


                                <div style="text-align:center;">
                                    <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524495195/projects/x.png" style="width:80%">
                                </div>
                                <br>As people ate and drank better, so did their livestock. There were more leftover leaves and stems to serve as fodder for sheep, goats and dairy cows.
                            </div>
                        </div>
                    </div>
                    <div style="margin:20px 0px;">
                        <div class="para">
                            <div class="para-title"> Flutur &amp; TBS
                            </div>

                            <div class="para-text">

                                <br>Flutur has joined hands with the Waterman of India and the amazing team at Tarun Bharat Sangh and wants to help them achieve their goal of building 60 johads by 2022.

                                <div class="para-rect">Want to fund Waterman's campaign? You can raise funds without spending any money! Download the <a target="_blank" href='http://bit.ly/flutur-tbsproj'><b>Flutur New Tab Chrome Extension </b></a>and choose Tarun Bharat Sangh
                                    as your NGO for the month!
                                    <br><br>You can also show support by spreading the word! Do check out Tarun Bharat Sangh’s work <a target="_blank" href='http://tarunbharatsangh.in/'>here</a> and follow the other causes that they are fighting for on
                                    their
                                    <a target="_blank" href='https://www.facebook.com/jalpurush/'>Facebook page</a>. Let’s work towards a better tomorrow together :)
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blue-27">
            <div>
                <span class="support-this-cause">Support this cause!</span>
                <div class="row" style="width:57%; margin:15px auto;box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.5);height:65.8vh">
                    <div class="col-sm-7" style="padding:0">
                        <img src="http://res.cloudinary.com/epicfoundation/image/upload/v1524502493/projects/tbs1.jpg" style="height: 65.8vh;width: 100%;">
                    </div>
                    <div class="col-sm-5" style="padding:90px 30px 20px 30px;background:#3C3C3C;height:65.8vh">
                        <div class="open-new-tabs-to" style="line-height:1.5; letter-spacing: 0.5px;text-align:left;">Open new tabs to</div>
                        <div class="big-action-title">
                            <%- details.actionTitle%>
                        </div>
                        <div class="open-new-tabs-to" style="line-height:1.5; margin-top:13px; letter-spacing: 0.5px;text-align:left;">
                            <%- details.forByLine%>
                        </div>

                        <div class="start-button" onclick="installChromeApp()" style="margin-top:4em">Install Flutur New Tab
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="resp-footer">
            <%- include footer_partial.ejs %>
        </div>

        <div class="small-resp-footer">
            <%- include footer_small_partial.ejs %>
        </div>

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a4222d4a0befa9c"></script>

</body>
<script src="/js/chromeExtension.min.js"></script>
<script>
    $(document).ready(function() {
        $("body").fadeIn(800);
        var category = "<%- details.category_id %>";
        if (typeof category != 'undefined') {
            $('#' + category).addClass("pink");
            $('#' + category).removeClass("black");
        } else {
            $('#all').addClass("pink");
            $('#all').removeClass("black");
        }
        $(".facebook-share").attr("href", "http://www.facebook.com/sharer.php?u=" + window.location.href);
        $(".facebook-share").click(function(e) {
            e.preventDefault();
            window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
            return false;
        });
    });
</script>

</html>