<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="bIgzhiYzJX-z_6EqT39MpkW7wN8J7zbpD_8puZbvKeM" />
    <link rel="icon" href="/image/header_logo.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <link href="//fonts.googleapis.com/css?family=Poppins:100,200,300,500,700" rel="stylesheet" />

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/new-age.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile-view.css">
    <link rel="stylesheet" href="/css/blog.css">

    <title>
        Flutur Har Haath Kalam
    </title>

    <meta name="author" content="Mallika Priya Khullar" />
    <meta name="keywords" content="har haath kalam, frugal, innovation, indian ngo" />
    <meta name="description" content="Flutur supports Mumbai based NGO HHK's frugal innovation - sanitary napkins" />
    <meta property="og:title" content="Har Haath Kalam" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.flutur.org/projects/project-hhk" />
    <meta property="og:image" content="/image/white_facebook_icon.png" />
    <meta property="og:description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta property="fb:app_id" content="197971190828325" />
    <meta name="twitter:title" content="Helpdesk" />
    <meta name="twitter:description" content="Flutur supports Mumbai based NGO HHK's frugal innovation - sanitary napkins" />
    <meta name="twitter:url" content="http://www.flutur.org/projects/project-hhk" />
    <meta name="twitter:image" content="/image/white_facebook_icon.png" />


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

    <style>
        .support-this-cause {
            color: #3C3C3C;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 300;
            line-height: 46px;
        }
        
        .cover-image {
            background-size: cover;
            background-repeat: no-repeat;
            /* background-position: 20%; */
            background-image: url("https://media.gettyimages.com/videos/thirsty-stock-video-video-id483232005?s=640x640");
        }
        
        .start-button {
            border: 1px solid #FFFFFF;
            border-radius: 2px;
            text-align: left;
            cursor: pointer;
            font-weight: 700;
            font-family: Poppins;
            transition: .2s;
            padding: 15px 10px;
        }
        
        .start-button:hover {
            background: rgba(255, 255, 255, .05);
            transform: scale(1.02);
        }
        
        .blue-27 {
            padding: 100px 0px;
            width: 100vw;
            color: white;
            text-align: center;
            background-color: #f9f9f9;
        }
        
        .footer-desc {
            display: none
        }
        
        .footer-icons {
            font-size: 20px;
        }
        
        .side-margin-5 {
            margin: 0 15px;
        }
        
        .open-new-tabs-to {
            text-transform: uppercase;
            color: #FFFFFF;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 100;
            line-height: 21px;
        }
        
        .uc {
            text-transform: uppercase;
        }
        
        .mint {
            color: #23D2AF;
        }
        
        .end-to-end {
            width: 100%;
            cursor: pointer;
            background: black;
            z-index: 999;
            padding: 30px 0;
            color: white;
            transition: .2s;
        }
        
        .end-to-end:hover {
            transform: scale(1.05)
        }
        
        .congrats-title {
            font-family: Poppins;
            font-size: 25px;
            font-weight: 700;
        }
        
        @media all and (max-width: 699px) {
            .footer-icons {
                font-size: 20px;
            }
            .side-margin-5 {
                margin: 0 15px;
            }
            .amazon-blog {
                display: none;
            }
            .black-share {
                display: none;
            }
            .squish {
                padding: 30px 0px;
            }
            .blog-outside-title {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                font-size: 18px;
                font-weight: bold;
                line-height: 21px;
                margin: 10px 0px;
            }
            .para-text {
                font-weight: 200;
                font-size: 15px;
            }
            .para-text,
            .black-quicksand-title,
            body {
                font-family: Poppins;
            }
            .blog-short-desc {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                color: #4C4C4C;
                font-size: 14px;
                line-height: 18px;
                margin: 10px 0px;
                height: 36px;
            }
            .recent-title {
                margin: 80px 0px 10px 0px;
            }
            .navbar-brand>img {
                height: 90%;
                padding: 10px 0 0 15px;
                width: auto;
            }
            .small-roboto-thick {
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
            }
            .small-roboto-thin {
                font-size: 10px;
                line-height: 14px;
            }
            .small-user-partial {
                float: left;
                width: 60%;
            }
            .user-container-small {
                display: block;
            }
            .user-container {
                display: none;
            }
            #blog-header {
                display: none;
            }
            #blog-header-small {
                display: block;
                padding: 16px 0px;
                overflow: auto;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 5px;
            }
            .circ-img {
                height: 45px;
                width: 45px;
            }
            .facebook-btn {
                float: right;
                font-size: 12px;
                cursor: pointer;
                margin-top: 6px;
            }
            .small-donate-partial {
                display: none;
            }
            .blog-detail-container {
                width: 90%;
                margin: 0 auto;
                padding: 30px 0px 10px 0px;
            }
            div.center-cropped {
                width: 100%;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .black-quicksand-title {
                font-size: 28px;
                font-weight: bold;
                line-height: 30px;
            }
            .para-text {
                color: #000000;
                font-size: 15px;
                line-height: 31px;
                margin: 10px 0px;
            }
            .para-image {
                width: 80%;
            }
            .image-caption {
                color: #A9A9A9;
                font-size: 9px;
                font-style: italic;
                line-height: 10px;
                padding: 10px 0px;
            }
            .para-title {
                font-size: 22px;
                font-weight: bold;
                line-height: 25px;
                margin: 20px 0px;
            }
            .para {
                margin: 20px 0px;
            }
        }
        
        @media screen and (min-width: 700px) {
            .recent-title {
                margin: 110px 0px 10px 0px;
            }
            .squish {
                padding: 60px 90px 0px 90px;
            }
            .para-text {
                color: #000000;
                font-size: 15px;
                line-height: 35px;
                margin: 10px 0px;
            }
            .user-container {
                display: block;
            }
            .user-container-small {
                display: none;
            }
            #blog-header {
                display: block;
            }
            #blog-header-small {
                display: none;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 10px;
            }
            .circ-img {
                height: 60px;
                width: 60px;
            }
            .facebook-btn {
                float: right;
                width: 300px;
                font-size: 12px;
                cursor: pointer;
            }
            .small-user-partial {
                float: left;
                width: 40%;
            }
            .small-donate-partial {
                float: right;
                width: 60%;
            }
            div.center-cropped {
                width: 100%;
                height: 500px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .para {
                margin: 50px 0px;
            }
            .big-action-title {
                font-size: 3em;
                padding: 0;
                margin: 10px 0px;
                text-align: left;
                line-height: 45px;
                font-weight: bold;
                font-family: Poppins;
            }
            .para-title {
                font-size: 30px;
                font-weight: bold;
                line-height: 35px;
                margin: 20px 0px;
            }
            .blog-detail-container {
                width: 80%;
                margin: 0 auto;
                padding: 50px 0px 10px 0px;
            }
            .para-image {
                width: 50%;
            }
            .image-caption {
                color: #A9A9A9;
                font-size: 12px;
                font-style: italic;
                line-height: 14px;
                padding: 10px 0px;
            }
        }
        
        .very-thin-roboto {
            color: #4C4C4C;
            font-size: 12px;
            font-style: italic;
            font-weight: 300;
            line-height: 19px;
            width: 350px;
        }
        
        .btn-outline:hover,
        .btn-outline:focus,
        .btn-outline:active,
        .btn-outline.active {
            background-color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 1);
        }
        
        .blog-outside-title {
            margin: 10px 0px 5px 0px;
        }
        
        .blog-short-desc {
            margin: 0px 0px 15px 0px;
        }
        
        h1,
        h2,
        h3 {
            letter-spacing: 0px;
        }
        
        .center-align {
            text-align: center;
        }
        
        .top-bottom-margin {
            margin: 50px;
        }
        
        .small-margin-top {
            margin-top: 10px;
        }
        
        .big-margin-top {
            margin-top: 60px;
        }
        
        .small-margin-bottom {
            margin-bottom: 10px;
        }
        
        .footer-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 20px;
        }
        
        .footer-desc {
            display: none
        }
        
        .quick-weight-bold-small,
        .display-number-title,
        .display-number,
        .btn-med,
        .quicksand,
        footer ul li a,
        .black-quicksand-title,
        .para-text,
        body,
        .quick-weight-bold {
            font-family: Poppins;
        }
        
        .black-quicksand-title {
            line-height: 60px;
            padding: 0 15px;
        }
        
        .para-text {
            font-weight: 300;
            font-size: 18px;
        }
    </style>
</head>

<body style="display:none">

    <%- include standard-header.ejs %>



        <div class="end-to-end" onclick="installChromeApp()">
            <div style="width:600px; margin:0 auto; text-align:center">
                <div style="display:inline-block">
                    <img alt="flutur" src="<%- details.unitIcon%>" style="float:left;width:25px;height:25px;margin:3px 10px 0px 0px">
                    <div class="congrats-title mint uc" style="float:left">
                        <%- currUnits %>
                            <span class="white">sanitary napkins funded!</span>
                    </div>
                </div>
                <div class="days-left">
                    Install Flutur New Tab to raise funds for women hygiene in rural India!
                </div>
            </div>
        </div>


        <div class="blog-detail-container">

            <img src='http://res.cloudinary.com/epicfoundation/image/upload/v1524582833/UI%20images/Asset_11_3x.png' style="margin:0 auto;display:block;width:60%">

            <div class="squish">
                <h1 class="black-quicksand-title">
                    The Padwoman of Patiala! Help Flutur support Ruhpreet & Har Hath Kalam make slums period friendly.
                </h1>

                <div style="margin:20px 0px;">
                    <div class="para">



                        <div class="para-text">
                            In a study conducted by the World Health in the month of October 2017, it was revealed that about 43% of Indian women do not have access to sanitary essentials at the beginning of periods, while 36% felt uncomfortable in buying them with other customers
                            around or because of the general “taboo” surrounding the same.<br><br>According to the survey as many as 67% women have had to borrow sanitary essential from a friend, colleague or family member.
                        </div>
                    </div>
                </div>

                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title">
                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="https://i2.wp.com/feminisminindia.com/wp-content/uploads/2017/05/npr_taboo_finalart_wide-964420efd594a5630a596a80c46b70b8e7605d58-s800-c85.jpeg?w=800&ssl=1" class="para-image">
                            <div class="image-caption">
                                Source: https://feminisminindia.com/2017/05/05/tradition-behind-menstrual-taboos/

                            </div>
                        </div>

                        <div class="para-text">
                            Even more appalling is the state of women and young girls in rural areas where according to a 2011 survey, over 88% of women resort to shocking alternatives like un-sanitised cloth, ashes and husk sand! This leads to various diseases developing among
                            the female population, such as cervical cancer, uterus infection, infertility and skin cancer.Incidents of Reproductive Tract Infection (RTI) is an alarming 70% more common among these women.<br><br>Although
                            there are various schemes in place to educate families in rural areas about women health and as of late the issue seemingly gaining steam in mainstream media, there are difficult roadblocks that are still very difficult to
                            overcome mainly due to the “Taboo” surrounding a woman’s menstrual cycle.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> The Har Hath Kalam and the “Padwoman”
                        </div>


                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            Har Hath Kalam (HHK) is an NGO whose primary mission is to create awareness against begging, molding child beggars towards by providing them with education, assisting healthy and disabled beggars with employment opportunities and welfare schemes and so
                            on.
                            <br><br>During some such drives in slums and villages, Ruhpreet a volunteer at HHK noticed that many women still use cloth or other such means during menstruation which are potentially harmful.

                        </div>
                    </div>
                </div>

                <div style="margin:20px 0px;">
                    <div class="para">

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            Being a single mother who has gone through various hardships from abuse to divorce, she was able to empathize with the women in these areas and connect on a personal level. As a result she started off by distributing napkins to the underprivileged women
                            living there. <br><br>So far with the support of HHK has distributed more than 15000 pads. It was Ruhpreet’s unstoppable and inspiring spirit that led HHK to choose this segment to work with as well!<br><br>Ruhpreet’s
                            story soon spread around the entire nation and eventually she was honoured by the media with the title of “Padwoman of Patiala”.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">


                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            In a survey conducted by HHK whose volunteers are doing a phenomenal job in Patiala and its surrounding regions, of 10 villages and 3 slums , the reasons for women here not using more modern & safe means of sanitation apart from lack of education are
                            :
                            <ol>
                                <li>1) Unaffordability:<br>Many of the women here or their earning hand in families are daily wage laborers for which the income is not so regular and is capped at a low value. The women here do buy sanitary napkins but only
                                    when they do have the capital to do so, they otherwise resort to using other means such as un-sanitised clothing.</li>
                                <li>2) Inaccessibility:<br>Most of the women here feel “shy” to buy from a local store and are not even open to their husbands and their husbands are sometimes even unaware of it. Thus due to the generic taboo surrounding menstruation
                                    they are not able to access proper means of sanitation.</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> Flutur’s mission with Har Hath Kalam:

                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            Har Hath Kalam is currently working with all the slums across the Patiala district where women who have never used any kind of sanitary napkin during their periods, would not only be using them but will be the ones manufacturing them in production centers
                            and distributing them across the slums, villages and government schools across the district thus also providing them with a sustainable means of employment!
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">


                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            Flutur will be periodically featuring Har Hath Kalam on the google chrome extension and on other platforms so as to help fund these “Low cost sanitary napkin production centers”. If Flutur is able to raise funds for Har Hath Kalam to buy automated machines
                            for production, and distribution(vending machines in government schools) Har Hath Kalam will be able to not only generate a sustainable means to access modern sanitary napkins at Low costs but will also be empowering the community
                            with Self help groups & thus providing full time employment for more than 10 women and possibly, 1000 Aanganwadi workers to earn a bit too.<br><br>They will also be covering 927 villages, 50+ Slums,
                            350 Govt middle and higher secondary schools to distribute these affordable sanitary napkins and educate them to adopt healthy practices to deal with menstruation for young girls and women.<br><br>The napkins being biodegradable,
                            will additionally help in reducing the poly plastic waste at landfills, and will instead be absorbed within 6 months and can potentially turn infertile soil into fertile land due to presence of micro-nutrients in blood-filled
                            pads.
                        </div>
                    </div>
                </div>

                <div style="margin:20px 0px;">
                    <div class="para">



                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                Source: http://mahamtb.com/Encyc/2017/6/27/Sanitary-napkins-by-women-savings-groups-are-finally-tax-free.html

                            </div>
                        </div>

                        <div class="para-text">
                            More than 2 lakh women will be given awareness in a span of 1 - 1.5 years through comic magazines, flashcards to deal with menstruation with best and healthy practices and to fight against the myths and taboos.<br><br>The total
                            estimate for setting up such a center lies at around Rs 11 Lakhs! And 25000 for each vending machine These centers are fully automated and will be able to produce up 60 sanitary napkins every minute. <br><br>Each sanitary napkin
                            pack will contain 6 pads and will be sold at a price of Rs 20 to customers.<br><br>Napkins would be ultra thin, high absorbing power (100mL), with anti-bacterial chip, soft and comfortable<br><br>Flutur is dedicated in helping
                            the Padwoman of Patiala and the amazing team of 75 volunteers at Har Hath Kalam achieve its goal by 2019, which is to ensure that every woman in Patiala has access to safe, cheap & modern sanitary napkins.
                            <br><br>To continuously fund the Padwoman of Patiala’s campaign please download the chrome extension here and choose them as your NGO for the month! Furthermore, do spread the world to help the amazing team at Har Hath Kalam
                            achieve their goals. Let’s work towards a better tomorrow! :)<br><br>Do check out Har Hath Kalam’s work here and follow the other causes that they are fighting for on their facebook page. If you feel like you still need to
                            do more, Volunteer or Donate directly on Har Hath Kalam’s website :)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blue-27">
            <div>
                <span class="support-this-cause">Support this cause!</span>
                <div class="row" style="width:57%; margin:15px auto;box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.5);">
                    <div class="col-sm-7" style="padding:0">
                        <img src="http://res.cloudinary.com/epicfoundation/image/upload/v1524503561/projects/hhk2.jpg" style="height: 100%;width: 100%;">
                    </div>
                    <div class="col-sm-5" style="padding:90px 30px 20px 30px;background:#3C3C3C;height:70vh">
                        <div class="open-new-tabs-to" style="line-height:1.5; letter-spacing: 0.5px;text-align:left;">Open new tabs to</div>
                        <div class="big-action-title">
                            <%- details.actionTitle%>
                        </div>
                        <div class="open-new-tabs-to" style="line-height:1.5; margin-top:13px; letter-spacing: 0.5px;text-align:left;">
                            <%- details.forByLine%>
                        </div>

                        <div class="start-button" onclick="installChromeApp()" style="margin-top:4em">Install Flutur New Tab
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resp-footer">
            <%- include footer_partial.ejs %>
        </div>
        <div class="small-resp-footer">
            <%- include footer_small_partial.ejs %>
        </div>

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a4222d4a0befa9c"></script>

</body>

<script>
    $(document).ready(function() {
        $("body").fadeIn(800);
        var category = "<%- details.category_id %>";
        if (typeof category != 'undefined') {
            $('#' + category).addClass("pink");
            $('#' + category).removeClass("black");
        } else {
            $('#all').addClass("pink");
            $('#all').removeClass("black");
        }
        $(".facebook-share").attr("href", "http://www.facebook.com/sharer.php?u=" + window.location.href);
        $(".facebook-share").click(function(e) {
            e.preventDefault();
            window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
            return false;
        });
    });
</script>

</html>