<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="bIgzhiYzJX-z_6EqT39MpkW7wN8J7zbpD_8puZbvKeM" />
    <link rel="icon" href="/image/header_logo.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <link href="//fonts.googleapis.com/css?family=Poppins:100,200,300,500,700" rel="stylesheet" />

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/new-age.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile-view.css">
    <link rel="stylesheet" href="/css/blog.css">

    <title>
        Flutur Helpdesk
    </title>

    <meta name="author" content="Mallika Priya Khullar" />
    <meta name="keywords" content="helpdesk, aarambh, frugal, innovation, indian ngo, aarambh helpdesk, flutur helpdesk" />
    <meta name="description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta property="og:title" content="Helpdesk" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.flutur.org/projects/helpdesk" />
    <meta property="og:image" content="/image/white_facebook_icon.png" />
    <meta property="og:description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta property="fb:app_id" content="197971190828325" />
    <meta name="twitter:title" content="Helpdesk" />
    <meta name="twitter:description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta name="twitter:url" content="http://www.flutur.org/projects/helpdesk" />
    <meta name="twitter:image" content="/image/white_facebook_icon.png" />


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

    <style>
        .blue-27 {
            padding: 100px 0px;
            width: 100vw;
            color: white;
            text-align: center;
            background-color: #f9f9f9;
        }
        
        .support-this-cause {
            color: #3C3C3C;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 300;
            line-height: 46px;
        }
        
        .cover-image {
            background-size: cover;
            background-repeat: no-repeat;
            /* background-position: 20%; */
            background-image: url("https://media.gettyimages.com/videos/thirsty-stock-video-video-id483232005?s=640x640");
        }
        
        .start-button {
            border: 1px solid #FFFFFF;
            border-radius: 2px;
            text-align: left;
            cursor: pointer;
            font-weight: 700;
            font-family: Poppins;
            transition: .2s;
            padding: 15px 10px;
        }
        
        .start-button:hover {
            background: rgba(255, 255, 255, .05);
            transform: scale(1.02);
        }
        
        .footer-desc {
            display: none
        }
        
        .footer-icons {
            font-size: 20px;
        }
        
        .side-margin-5 {
            margin: 0 15px;
        }
        
        @media all and (max-width: 699px) {
            .footer-icons {
                font-size: 20px;
            }
            .side-margin-5 {
                margin: 0 15px;
            }
            .amazon-blog {
                display: none;
            }
            .black-share {
                display: none;
            }
            .squish {
                padding: 30px 0px;
            }
            .blog-outside-title {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                font-size: 18px;
                font-weight: bold;
                line-height: 21px;
                margin: 10px 0px;
            }
            .blog-short-desc {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                color: #4C4C4C;
                font-size: 14px;
                line-height: 18px;
                margin: 10px 0px;
                height: 36px;
            }
            .recent-title {
                margin: 80px 0px 10px 0px;
            }
            .navbar-brand>img {
                height: 90%;
                padding: 10px 0 0 15px;
                width: auto;
            }
            .small-roboto-thick {
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
            }
            .small-roboto-thin {
                font-size: 10px;
                line-height: 14px;
            }
            .small-user-partial {
                float: left;
                width: 60%;
            }
            .user-container-small {
                display: block;
            }
            .user-container {
                display: none;
            }
            #blog-header {
                display: none;
            }
            #blog-header-small {
                display: block;
                padding: 16px 0px;
                overflow: auto;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 5px;
            }
            .circ-img {
                height: 45px;
                width: 45px;
            }
            .facebook-btn {
                float: right;
                font-size: 12px;
                cursor: pointer;
                margin-top: 6px;
            }
            .small-donate-partial {
                display: none;
            }
            .blog-detail-container {
                width: 90%;
                margin: 0 auto;
                padding: 30px 0px 10px 0px;
            }
            div.center-cropped {
                width: 100%;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .black-quicksand-title {
                font-size: 28px;
                font-weight: bold;
                line-height: 30px;
            }
            .para-text {
                color: #000000;
                font-size: 15px;
                line-height: 31px;
                margin: 10px 0px;
            }
            .para-image {
                width: 80%;
            }
            .image-caption {
                color: #A9A9A9;
                font-size: 9px;
                font-style: italic;
                line-height: 10px;
                padding: 10px 0px;
            }
            .para-title {
                font-size: 22px;
                font-weight: bold;
                line-height: 25px;
                margin: 20px 0px;
            }
            .para {
                margin: 20px 0px;
            }
        }
        
        @media screen and (min-width: 700px) {
            .recent-title {
                margin: 110px 0px 10px 0px;
            }
            .squish {
                padding: 60px 90px 0px 90px;
            }
            .para-text {
                color: #000000;
                font-size: 15px;
                line-height: 35px;
                margin: 10px 0px;
            }
            .user-container {
                display: block;
            }
            .user-container-small {
                display: none;
            }
            #blog-header {
                display: block;
            }
            #blog-header-small {
                display: none;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 10px;
            }
            .circ-img {
                height: 60px;
                width: 60px;
            }
            .facebook-btn {
                float: right;
                width: 300px;
                font-size: 12px;
                cursor: pointer;
            }
            .small-user-partial {
                float: left;
                width: 40%;
            }
            .small-donate-partial {
                float: right;
                width: 60%;
            }
            div.center-cropped {
                width: 100%;
                height: 500px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .para {
                margin: 50px 0px;
            }
            .para-title {
                font-size: 30px;
                font-weight: bold;
                line-height: 35px;
                margin: 20px 0px;
            }
            .blog-detail-container {
                width: 80%;
                margin: 0 auto;
                padding: 50px 0px 10px 0px;
            }
            .para-image {
                width: 50%;
            }
            .image-caption {
                color: #A9A9A9;
                font-size: 12px;
                font-style: italic;
                line-height: 14px;
                padding: 10px 0px;
            }
        }
        
        .open-new-tabs-to {
            text-transform: uppercase;
            color: #FFFFFF;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 100;
            line-height: 21px;
        }
        
        .big-action-title {
            font-size: 3em;
            padding: 0;
            margin: 10px 0px;
            text-align: left;
            line-height: 45px;
            font-weight: bold;
            font-family: Poppins;
        }
        
        .open-new-tabs-to {
            text-transform: uppercase;
            color: #FFFFFF;
            font-family: Poppins;
            font-size: 14px;
            line-height: 21px;
        }
        
        .uc {
            text-transform: uppercase;
        }
        
        .mint {
            color: #23D2AF;
        }
        
        .uc {
            text-transform: uppercase;
        }
        
        .mint {
            color: #23D2AF;
        }
        
        .end-to-end {
            width: 100%;
            cursor: pointer;
            background: black;
            z-index: 999;
            padding: 30px 0;
            color: white;
            transition: .2s;
        }
        
        .end-to-end:hover {
            transform: scale(1.05)
        }
        
        .congrats-title {
            font-family: Poppins;
            font-size: 25px;
            font-weight: 700;
        }
        
        .very-thin-roboto {
            color: #4C4C4C;
            font-size: 12px;
            font-style: italic;
            font-weight: 300;
            line-height: 19px;
            width: 350px;
        }
        
        .btn-outline:hover,
        .btn-outline:focus,
        .btn-outline:active,
        .btn-outline.active {
            background-color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 1);
        }
        
        .blog-outside-title {
            margin: 10px 0px 5px 0px;
        }
        
        .blog-short-desc {
            margin: 0px 0px 15px 0px;
        }
        
        h1,
        h2,
        h3 {
            letter-spacing: 0px;
        }
        
        .center-align {
            text-align: center;
        }
        
        .top-bottom-margin {
            margin: 50px;
        }
        
        .small-margin-top {
            margin-top: 10px;
        }
        
        .quick-weight-bold-small,
        .display-number-title,
        .display-number,
        .btn-med,
        .quicksand,
        footer ul li a,
        .quick-weight-bold {
            font-family: Poppins;
        }
        
        .big-margin-top {
            margin-top: 60px;
        }
        
        .small-margin-bottom {
            margin-bottom: 10px;
        }
        
        .footer-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 20px;
        }
        
        .footer-desc {
            display: none
        }
        
        .black-quicksand-title,
        .para-text,
        body {
            font-family: Poppins;
        }
        
        .para-text {
            font-weight: 300;
            font-size: 18px;
        }
        
        .black-quicksand-title {
            line-height: 60px;
            padding: 0 15px;
        }
    </style>
</head>

<body style="display:none">

    <%- include standard-header.ejs %>


        <div class="end-to-end" onclick="installChromeApp()">
            <div style="width:600px; margin:0 auto; text-align:center">
                <div style="display:inline-block">
                    <img alt="flutur" src="<%- details.unitIcon%>" style="float:left;width:25px;height:25px;margin:3px 10px 0px 0px">
                    <div class="congrats-title mint uc" style="float:left">
                        <%- currUnits %>
                            <span class="white">solar lights funded!</span>
                    </div>
                </div>
                <div class="days-left">
                    Install Flutur New Tab to raise funds to light up homes all over rural India!
                </div>
            </div>
        </div>



        <div class="blog-detail-container">

            <img src='http://res.cloudinary.com/epicfoundation/image/upload/v1524582832/UI%20images/Asset_8_3x.png' style="margin:0 auto;display:block;width:60%">


            <div class="squish">
                <h1 class="black-quicksand-title">
                    Help Flutur support Liter of Light, Bangalore
                </h1>

                <div style="margin:20px 0px;">
                    <div class="para">

                        <div style="text-align:center;">
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1523373674/Lol2_ufuczb.jpg" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            In 2014 the World Bank pegged India as home to the world’s largest un-electrified population. Access to basic power requirements to an appalling 240 million Indians remains unaffordable, inadequate or simply non-existent. While the government has set
                            up various programs to achieve its 2019 target, a large number of Indian families and the most vulnerable, poor citizens of the country still have received little to no relief to their woes.<br><br>“For
                            I can see in the midst of death, life persists, in the midst of untruth, truth persists, in the midst of darkness light persists.” --- Mahatma Gandhi<br><br>This quote by the father of our nation encapsulates the phenomenal
                            work, that is being carried out by non governmental organizations &amp; citizens of India, to help bring relief &amp; joy to the darkest corners of our great nation and its underprivileged citizens. The Bangalore chapter of
                            Liter of Light is one such NGO that has made great strides in the past and continues to fight for this noble cause.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> Liter of Light

                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524495152/projects/Group_5_2x.png" style="width:80%">
                        </div>

                        <div class="para-text">
                            Liter of Light is a global independent movement with the aim to provide a long term source of light to the underprivileged that do not have access to electricity or just cannot afford it. The idea that they follow is pretty simple and although finding
                            its roots in other countries, it resonates beautifully with the “Jugaad” or frugal innovation culture that us Indians are renowned for.<br><br>Liter of Light uses a PET Bottle (Moser Bulb) with purified
                            water and bleach installing it onto the roof of a sheet house. The water inside the bottle refracts the sunlight during the daytime and provides as much light as a 55 watt light bulb! As this form of light requires the sun’s
                            energy it works only during the day.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> Liter of Light in India

                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1523373675/Lol1_xduog5.jpg" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            After a successful stint on the global stage and resulting in over 200,000 illuminated homes with this simple but impactful innovation, Pankaj Dixit and Tripti Agarwal co-founded Liter of Light in Bangalore in the year of 2013.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">
                        <div style="text-align:center;">
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524495154/projects/Group_14_2x.png" style="width:80%">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            With numerous successful implementations, the Liter of Light Bangalore has run nearly self-sustaining & independent projects in Madhya Pradesh, Tamil Nadu, Odisha etc., The passionate and inspiring aura surrounding Pankaj Dixit and team has even galvanized
                            students from colleges around India to run and maintain individual projects by themselves with just basic support provided by the Liter of Light Bangalore chapter.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">

                        <div style="text-align:center;">
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1523373678/Lol5_twu2wa.jpg" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            The importance of even the most basic access to light to nurture success,dreams and also empower people can quickly be undermined. The success of Liter of Light, Bangalore shows the difference that even the slightest ray of light in the darkest of places
                            could make in the lives of another.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">


                        <div style="text-align:center;">
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1524495154/projects/Group_19_2x.png" style="width:80%">

                        </div>

                        <div class="para-text">
                            Neeraj, 11 years old, dreams to be a footballer one day. He was excited to know that the field was getting a night light and his play time did not have to end along with the sunset
                            <br><br> Bhairavi, 9 years old from Sirumalai ,TN and a jewelry enthusiast. Bhairavi, along with her sister likes to collect stones and make bracelets and necklaces for her family and friends. But she hardly gets an hour after
                            school to pursue her hobby as it gets dark. Bhairavi is happy to know that now she will be able to make many more jewelry pieces with the new night light in her house.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> Flutur supports Liter of Light Bangalore!
                        </div>


                        <div class="para-text">
                            The Bangalore edition of Liter of light has recently been implementing a number of innovative solar, eco-friendly bottle bulbs which maintains the original idea of “reduce, reuse and recycle”. These Solar powered bulbs provide illumination for remote
                            areas even during the night which was a limitation in the earlier version of the contraption.<br><br>Each of these solar powered lamps are made using sturdy PVC pipes, Reused water bottles and a
                            Solar panels all which can be fitted and used for various applications such as street lights by their benefactors. As an estimate, each street light costs around Rs 2500 - 3000. The villagers are even educated about the products
                            to the extent that these installations become self sustaining.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">

                        <div class="para-text">
                            Flutur aims to support Liter of Light’s projects by providing funds for projects that are planned to be implemented in remote regions around Karnataka and Tamil Nadu. This collaboration effort can illuminate the lives of rural families that had little
                            to no access to such basic amenities that we all take for granted every day.<br><br>Some of Liter of Light’s upcoming projects are planned to be set up in the following locations :
                            <ol>
                                <li><b>Kikkeri Village in Mandya District, Karnataka:</b><br>40 home lighting system and 10 street lights impacting about 200 lives. Expected to be installed by May 2018.</li>
                                <li><b>Sirumalai Hills, near Dindigul, Tamilnadu:</b><br>50 street lights, impacting about 300 lives. Expected date : May 2018.</li>
                                <li><b>Senapattinam, Tandrampattu Taluk, Tiruvanamalai., Tamilnadu:</b><br>20 homelights systems and 5 street lights. Expected date July 2018.</li>

                            </ol><br>The Liter of light project will be featured on our google chrome extension periodically and also on all future tech products so that they can receive adequate funding, reach and global support that they require to make
                            their noble vision come true!
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">


                        <div style="text-align:center;">
                            <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1523373677/Lol8_mijxyn.jpg" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>


                        <div class="para-text">
                            To fund the Liter of light projects continuously please download the chrome extension here and choose them as your NGO for the month! Furthermore, do spread the world to help Pankaj and team achieve their goals, remember it is the little thing that you
                            do today that matters a whole lot more tomorrow :)<br><br>Go on, bring light to another life, Champion this cause now!<br><br>Support liter of light by volunteering or donating directly, check them
                            out here : Liter of Light, Bangalore. Find some awesome videos & photos of their work on their facebook page too!
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blue-27">
            <div>
                <span class="support-this-cause">Support this cause!</span>
                <div class="row" style="width:57%; margin:15px auto;box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.5);">
                    <div class="col-sm-7" style="padding:0">
                        <img src="http://res.cloudinary.com/epicfoundation/image/upload/v1524501633/projects/lol.jpg" style="height: 100%;width: 100%;">
                    </div>
                    <div class="col-sm-5" style="padding:90px 30px 20px 30px;background:#3C3C3C;height:70vh">
                        <div class="open-new-tabs-to" style="line-height:1.5; letter-spacing: 0.5px;text-align:left;">Open new tabs to</div>
                        <div class="big-action-title">
                            <%- details.actionTitle%>
                        </div>
                        <div class="open-new-tabs-to" style="line-height:1.5; margin-top:13px; letter-spacing: 0.5px;text-align:left;">
                            <%- details.forByLine%>
                        </div>
                        <div class="start-button" onclick="installChromeApp()" style="margin-top:4em">Install Flutur New Tab
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="resp-footer">
            <%- include footer_partial.ejs %>
        </div>
        <div class="small-resp-footer">
            <%- include footer_small_partial.ejs %>
        </div>

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a4222d4a0befa9c"></script>

</body>

<script>
    $(document).ready(function() {
        $("body").fadeIn(800);
        var category = "<%- details.category_id %>";
        if (typeof category != 'undefined') {
            $('#' + category).addClass("pink");
            $('#' + category).removeClass("black");
        } else {
            $('#all').addClass("pink");
            $('#all').removeClass("black");
        }
        $(".facebook-share").attr("href", "http://www.facebook.com/sharer.php?u=" + window.location.href);
        $(".facebook-share").click(function(e) {
            e.preventDefault();
            window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
            return false;
        });
    });
</script>

</html>