<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Flutur | Select Donation Mission | DonateWithoutDonating </title>
    <link rel="icon" href="image/header_logo.png" />

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:400,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,700" rel="stylesheet">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/mission-select.css">


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>



</head>

<body>
    <img src='<%- dailyImage %>' id="bg" alt="" />
    <img id="bg" />

    <div class="choose-title mb-5 pt-5">Choose your mission!</div>

    <a href='/new-tab/mission-selected?cause_id=<%-featuredProject.projectId%>'>
        <div class="featured large-dialog-overlay mb-5">
            <div class="row">
                <div class="col-sm-3" style="padding-top:80px">
                    <img alt="Flutur Chrome Extension" src="/image/aarambh_title_1.png" class="img-responsive" /></div>
                <div class="col-sm-5 tab-project-details-container" style="padding-top:80px">
                    <div class="open-new-tabs-to" style="line-height:1.5; margin-top:30px; letter-spacing: 0.5px;text-align:left;padding-right:50px;">Open new tabs to</div>
                    <div class="action-title" style="font-size: 40px; padding:0; margin:10px 0px;text-align:left;line-height:38px;">
                        <%- featuredProject.actionTitle %>
                    </div>

                    <div class="featured-green">
                        <div class="poppins-thin xs-text" style="padding-right:50px;">Featured Mission</div>
                        <div class="poppins-thin xs-text" style="padding-right:50px;">April - May 2018</div>
                    </div>
                </div>
                <div class="col-sm-4 featured-hover" style="padding-top:80px">
                    <div class="action-desc-left" style="line-height:1.5; letter-spacing: 0.5px;padding-right:50px;">
                        <%- featuredProject.homeDescription %>
                    </div>
                    <a href='projects/<%- featuredProject.projectId %>'>
                        <div class="choose-mission-featured bold" style="line-height:1.5; letter-spacing: 0.5px;padding-right:50px;">Choose mission</div>
                    </a>
                </div>
            </div>
        </div>
    </a>

    <div class="mw-80 mb-5">
        <% for(var i=0; i<projects.length; i++) { %>
            <a href='/new-tab/mission-selected?cause_id=<%-projects[i].projectId%>' />
            <div class="mission-li secondary-mission" id="<%-projects[i].projectId%>">
                <div class="mission-img-container"><img alt="Flutur Environment Saving" class="mission-img" src="<%- projects[0].showcasePhoto %>" /></div>
                <div class="action-title">
                    <div class="action-title-inner">
                        <%- projects[i].actionTitle %>
                    </div>
                </div>
                <div class="mb-5 action-desc">
                    <%- projects[i].shortDescription %>
                </div>

                <div class="mb-5 units">
                    <img src="<%- projects[i].unitIcon %>" style="height:17px;width:17x; margin-right:5px;">
                    <%- projects[i].unitString %>
                </div>
            </div>
            </a>
            <% } %>
    </div>
    <!-- </div>
    </div> -->



</body>
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.js"></script>
<script type="text/javascript">
    var $li = $('.hor-list li').click(function() {
        $("li").removeClass("mission-li");
        $li.removeClass('selected');
        $(this).addClass('selected');
        document.getElementById("lets-go-button").innerHTML = "<a class=\"pointer-class\" style=\"margin-top: 20px\" id=\"link\" href=\"/new-tab/mission-selected?cause_id=xyz\"><div id=\"donate-now\" class=\"pink-button disabled\"><div class=\"thick-text white center-text\" style=\"font-size:20px\"><i style=\"margin-right:10px\" class=\"fa fa-heart\" aria-hidden=\"true\"></i>Let's Go</div></div></a>";
        $("#link").attr("href", "/new-tab/mission-selected?cause_id=" + $(this).attr("id"));
    });

    $(document).ready(function() {
        $(".featured").mouseenter(function() {
            $(".featured-hover").css("background", "black");
        });
        $(".featured").mouseleave(function() {
            $(".featured-hover").css("background", "none");
        });
    });
</script>

</html>